.navbar{
   background-color: rgb(250, 138, 183);
   background-size: 10px;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand{
    color: white;
    font-size: 20px;
}
.btn {
    background-color: rgb(247, 120, 188);
    border-color: rgb(247, 120, 188);
}
.text-succes {
    color: rgb(247, 120, 188);

}